In [23]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [24]:
df = pd.read_csv("Hamspam.csv",encoding = "ISO-8859-1")
df

      type                                               text
0      ham  Hope you are having a good week. Just checking in
1      ham                            K..give back my thanks.
2      ham        Am also doing in cbe only. But have to pay.
3     spam  complimentary 4 STAR Ibiza Holiday or å£10,000...
4     spam  okmail: Dear Dave this is your final notice to...
...    ...                                                ...
5554   ham  You are a great role model. You are giving so ...
5555   ham  Awesome, I remember the last time we got someb...
5556  spam  If you don't, your prize will go to another cu...
5557  spam  SMS. ac JSco: Energy is high, but u may not kn...
5558   ham                    Shall call now dear having food

[5559 rows x 2 columns]

In [25]:
df.head()

   type                                               text
0   ham  Hope you are having a good week. Just checking in
1   ham                            K..give back my thanks.
2   ham        Am also doing in cbe only. But have to pay.
3  spam  complimentary 4 STAR Ibiza Holiday or å£10,000...
4  spam  okmail: Dear Dave this is your final notice to...

In [26]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [27]:
df['type']=le.fit_transform(df['type'])

In [28]:
X=df['text']
y=df['type']

In [29]:
len(df)

5559

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

#  Create CountVectorizer

In [31]:
#The fit method estimates the minimum and maximum values of the data, 
#and the transform method scales the data to the range [0, 1] using these estimates. In a matrix form as well
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
X_traincv=cv.fit_transform(X_train)
X_testcv=cv.transform(X_test)

In [32]:
#0 is a 'ham'
#1 is a 'spam'

In [33]:
y_train.head(3)

1473    0
2488    0
5294    1
Name: type, dtype: int32

In [34]:
y_test.head(3)

2058    0
962     1
3075    0
Name: type, dtype: int32

In [35]:
# Both X_train,y_train are converted into integer types
y_train=y_train.astype('int')
y_test=y_test.astype('int')

# Create MultinominalNB

In [36]:
from sklearn.naive_bayes import MultinomialNB
mnb=MultinomialNB()
mnb.fit(X_traincv,y_train)

MultinomialNB()

In [37]:
mnb.score(X_testcv,y_test)

0.9784172661870504

In [42]:
X_test.iloc[68]

'It has issues right now. Ill fix for her by tomorrow.'

In [39]:
pred=mnb.predict(X_testcv[5])
pred

array([0])

In [43]:
X_test.iloc[68]
pred=mnb.predict(X_testcv[34])
pred

array([0])

In [44]:
#Let us take 2 messages in the list
examples=['It has issues right now. Ill fix for her by tomorrow.', 'Awesome']
test=cv.transform(examples)
pred=mnb.predict(test)
pred

array([0, 0])

In [45]:
X_test.iloc[34]

'Now only i reached home. . . I am very tired now. . I will come tomorro'