In [1]:
import pandas as pd

In [21]:
df=pd.read_csv('homeprices.csv')
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [22]:
dummies=pd.get_dummies(df.town)
dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [23]:
dummies=dummies.drop(['west windsor'],axis='columns')
dummies

    monroe township  robinsville
0                 1            0
1                 1            0
2                 1            0
3                 1            0
4                 1            0
5                 0            0
6                 0            0
7                 0            0
8                 0            0
9                 0            1
10                0            1
11                0            1
12                0            1

In [24]:
#let us add these dummy variables to the original data frame using concat() method of the pandas package.
merged=pd.concat([df,dummies],axis='columns')
merged

               town  area   price  monroe township  robinsville
0   monroe township  2600  550000                1            0
1   monroe township  3000  565000                1            0
2   monroe township  3200  610000                1            0
3   monroe township  3600  680000                1            0
4   monroe township  4000  725000                1            0
5      west windsor  2600  585000                0            0
6      west windsor  2800  615000                0            0
7      west windsor  3300  650000                0            0
8      west windsor  3600  710000                0            0
9       robinsville  2600  575000                0            1
10      robinsville  2900  600000                0            1
11      robinsville  3100  620000                0            1
12      robinsville  3600  695000                0            1

In [27]:
final=merged.drop(['town'],axis='columns')
merged

               town  area   price  monroe township  robinsville
0   monroe township  2600  550000                1            0
1   monroe township  3000  565000                1            0
2   monroe township  3200  610000                1            0
3   monroe township  3600  680000                1            0
4   monroe township  4000  725000                1            0
5      west windsor  2600  585000                0            0
6      west windsor  2800  615000                0            0
7      west windsor  3300  650000                0            0
8      west windsor  3600  710000                0            0
9       robinsville  2600  575000                0            1
10      robinsville  2900  600000                0            1
11      robinsville  3100  620000                0            1
12      robinsville  3600  695000                0            1

In [29]:
#The final dataset should be used for the analysis purpose.
#so, Let us divide the dataset into independent variables(x) and dependent variables(y)
#after removing the price column from the dataset ,
#all the remaining columns will be represented as 'X' and the 'price column alone becomes 'y' .
x=final.drop(['price'],axis='columns')
x

    area  monroe township  robinsville
0   2600                1            0
1   3000                1            0
2   3200                1            0
3   3600                1            0
4   4000                1            0
5   2600                0            0
6   2800                0            0
7   3300                0            0
8   3600                0            0
9   2600                0            1
10  2900                0            1
11  3100                0            1
12  3600                0            1

In [38]:
y=final['price']
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [36]:
#Now this model can be used as the Machine Learning Model for analysis and prediction perpose.

In [37]:
#for eg,if we want to write the Mulltiple Linear Regression Model ,we can write as :-
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x,y)

LinearRegression()

In [43]:
# parameters: 1st: area
#             2nd:monroe township
#             3rd:robinsville

In [39]:
#predicting the price of 2800 sqft house located at Monroe township,
#we can call predict() method as :-
model.predict([[2800,1,0]])
#the '1' in the second column (second element in the 2-D array) represents Monroe township.

C:\Users\91934\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([565089.22812299])

In [40]:
# Observe a '1' in the third column (third element in the 2D array) .It represents the Robinsville.
model.predict([[2800,0,1]])

C:\Users\91934\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([590775.63964739])

In [42]:
#observe the two zeroes in the 2nd and 3rd position.
#they represents that they are neither Monroe township nor Robinville.
#hence ,they represents West Windsor
model.predict([[2800,0,0]])

C:\Users\91934\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([605103.20361213])

In [44]:
#predicting the price of 3400 sqft at west windsor
model.predict([[3400,0,0]])

C:\Users\91934\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([681241.66845839])

In [46]:
# finding the accuracy of our model .
model.score(x,y)

0.9573929037221873