In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df=pd.read_csv('homeprices.csv')
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [3]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(handle_unknown='ignore')

In [44]:
#handle_unknown='ignore'  -->It tell us that 
#the OneHotEncoder to ignore the categorial that cannot be converted .
ohe=OneHotEncoder(handle_unknown='ignore')

In [45]:
# NOw, apply OneHotEncoder on the 'town' column with the help of fit_transform() method.
x1=ohe.fit_transform(df[['town']])
x1

<13x3 sparse matrix of type '<class 'numpy.float64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [46]:
#this will give us a sparse matrix.
#A sparse matrix contains many zeroes(0s) as elements along some integer values.
#This matrix can be converted into an array using 'toarray()'  method.
#the following statement converts the sparse matrix x1 into an array and then into the dataframe.

In [47]:
x1=pd.DataFrame(x1.toarray())
x1

      0    1    2
0   1.0  0.0  0.0
1   1.0  0.0  0.0
2   1.0  0.0  0.0
3   1.0  0.0  0.0
4   1.0  0.0  0.0
5   0.0  0.0  1.0
6   0.0  0.0  1.0
7   0.0  0.0  1.0
8   0.0  0.0  1.0
9   0.0  1.0  0.0
10  0.0  1.0  0.0
11  0.0  1.0  0.0
12  0.0  1.0  0.0