In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('Salaries.csv')
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [14]:
X_indep=df.drop(['salary_more_then_100k'],axis=1)
y_dept=df['salary_more_then_100k']

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [17]:
X_indep['company_n']=le.fit_transform(X_indep['company'])
X_indep['job_n']=le.fit_transform(X_indep['job'])
X_indep['degree_n']=le.fit_transform(X_indep['degree'])

In [24]:
X_indep_1=X_indep.drop(['company','job','degree'],axis=1)

In [25]:
X_indep_1

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [46]:
# We can use entropy or criterion
#from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(criterion='entropy')
model.fit(X_indep_1,y_dept)

DecisionTreeClassifier(criterion='entropy')

In [47]:
model.predict([[2,0,0]])

C:\Users\91934\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [48]:
model.predict([[0,1,1]])

C:\Users\91934\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [49]:
model.predict([[0,2,2]])

C:\Users\91934\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)