In [6]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv('weather_forecast.csv')
df

     Outlook Temperature Humidity   Windy Play
0      Sunny         Hot     High    Weak   No
1      Sunny         Hot     High  Strong   No
2   Overcast         Hot     High    Weak  Yes
3       Rain        Mild     High    Weak  Yes
4       Rain        Cool   Normal    Weak  Yes
5       Rain        Cool   Normal  Strong   No
6   Overcast        Cool   Normal  Strong  Yes
7      Sunny        Mild     High    Weak   No
8      Sunny        Cool   Normal    Weak  Yes
9       Rain        Mild   Normal    Weak  Yes
10     Sunny        Mild   Normal  Strong  Yes
11  Overcast        Mild     High  Strong  Yes
12  Overcast         Hot   Normal    Weak  Yes
13      Rain        Mild     High  Strong   No

# Convert Column to numeric
# Use Label-Encoder

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [9]:
# Now apply label encoder on all columns
# outlook---> 0-Overcast,1-Rainy,2-Sunny
#Temp--->0-cool,1-hot,2-mild
#humidity--->0 High,1 Normal
#windy---.0 False,1-True
# Play Cricket---->0-no,1-yes

In [11]:
df['outlook_n']=le.fit_transform(df['Outlook'])
df['Temperature_n']=le.fit_transform(df['Temperature'])
df['Humidity_n']=le.fit_transform(df['Humidity'])
df['Windy_n']=le.fit_transform(df['Windy'])
df['Play_n']=le.fit_transform(df['Play'])

In [12]:
df

,Outlook,Temperature,Humidity,Windy,Play,outlook_n,Temperature_n,Humidity_n,Windy_n,Play_n
0,Sunny,Hot,High,Weak,No,2,1,0,1,0
1,Sunny,Hot,High,Strong,No,2,1,0,0,0
2,Overcast,Hot,High,Weak,Yes,0,1,0,1,1
3,Rain,Mild,High,Weak,Yes,1,2,0,1,1
4,Rain,Cool,Normal,Weak,Yes,1,0,1,1,1
5,Rain,Cool,Normal,Strong,No,1,0,1,0,0
6,Overcast,Cool,Normal,Strong,Yes,0,0,1,0,1
7,Sunny,Mild,High,Weak,No,2,2,0,1,0
8,Sunny,Cool,Normal,Weak,Yes,2,0,1,1,1
9,Rain,Mild,Normal,Weak,Yes,1,2,1,1,1
10,Sunny,Mild,Normal,Strong,Yes,2,2,1,0,1
11,Overcast,Mild,High,Strong,Yes,0,2,0,0,1
12,Overcast,Hot,Normal,Weak,Yes,0,1,1,1,1
13,Rain,Mild,High,Strong,No,1,2,0,0,0

In [23]:
df

    outlook_n  Temperature_n  Humidity_n  Windy_n  Play_n
0           2              1           0        1       0
1           2              1           0        0       0
2           0              1           0        1       1
3           1              2           0        1       1
4           1              0           1        1       1
5           1              0           1        0       0
6           0              0           1        0       1
7           2              2           0        1       0
8           2              0           1        1       1
9           1              2           1        1       1
10          2              2           1        0       1
11          0              2           0        0       1
12          0              1           1        1       1
13          1              2           0        0       0

In [24]:
X=df.drop(['Play_n'],axis=1)
y=df['Play_n']

# Create DecisionTree Classifier Model

In [25]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(X,y)

DecisionTreeClassifier()

In [28]:
#Predict wheather to play cricket or not for the following data:
model.predict([[2,1,0,2]])

array([0])